{% extends 'base.html.twig' %}

{% block title %}{{ car is defined ? 'Edit' : 'Create' }} a new Car{% endblock %}

{% block body %}

<form action="{{ car is defined ? path('cars_update', {car: car.id}) : path('cars_store') }}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Car name:</label>
        <input type="text" name="name" id="name" class="form-control" value="{{ car is defined ? car.name : '' }}"/>
    </div>

    {% if car is defined %}
        <input type="hidden" name="_method" value="PATCH"/>
    {% endif %}

    <div>
        <button type="submit" class="btn btn-success">
            {{ car is defined ? 'Update' : 'Create' }}
        </button>
    </div>
</form>

{% endblock %}
