{% extends 'base.html.twig' %}

{% block title %}Cars List{% endblock %}

{% block body %}
<a href="{{ path('cars_create') }}" class="btn btn-info mb-3">New</a>

<ul class="list-group">
    {% for car in cars %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ car.name }}
            <div class="d-flex">
                <a href="{{ path('cars_edit', {car: car.id}) }}" class="btn btn-warning btn-sm me-2">
                    e
                </a>
                <form method="post" action="{{ path('cars_delete', {id: car.id}) }}">
                    <input type="hidden" value="DELETE" name="_method"/>
                    <button class="btn btn-danger btn-sm">
                        x
                    </button>
                </form>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
